*{
    font-family: 'Courier New', Courier, monospace;
}
section{
    height: 100px;
}
.colorFondo{
    background-color: aqua;
}
div{
    height: 100px;
}
.fondoImagen{
    background-image: url(./img/PREPA.jpeg);
    
}